body {
  padding: 0;
  margin: 0;   
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#canvas {
  background: #99d6ff;
  overflow: hidden;
}

#canvas2 {
  position:fixed; 
  top:0;
  left:0;
  background: transparent;
  overflow: hidden;
}